

/*this is the business card area*/

.header {
}

.name {
    font-weight: bolder;
    font-size: 4em;
}

.text {
    font-family: "PT Sans", sans-serif;
}

.watercolor {
    /* The image used */
    background-image: url("documentation/images/skara-brae.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*makes links black before hovering over them*/
a {
    color: black;
}

@media only screen and (max-width: 575px){
    .name {
        font-size: 3em;

    }
}

@media only screen and (max-width: 355px){
    .name {
        font-size: 2em;

    }
}

@media only screen and (max-width: 355px){
    .title {
        font-size: 1em;

    }
}

@media only screen and (max-width: 355px){
    .resume {
        font-size: .75em;

    }
}


/*stuff in the body*/

@media only screen and (max-width: 575px){
    .happyday {
        display: block;

    }
}


/*@media only screen and (max-width: 575px){*/
/*.watercolor {*/
/*background-size: contain;*/

/*}*/
/*}
*/
