.header {
}

.watercolor {
    background-image: url("documentation/images/background.JPG");

}

.text {
    font-family: "PT Sans", sans-serif;
}

a {
    color: black;
}

.name {
    font-weight: bolder;
    font-size: 4em;
}

@media only screen and (max-width: 575px){
    .name {
        font-size: 3em;

    }
}

@media only screen and (max-width: 355px){
    .name {
        font-size: 2em;

    }
}

@media only screen and (max-width: 355px){
    .title {
        font-size: 1em;

    }
}

@media only screen and (max-width: 355px){
    .resume {
        font-size: .75em;

    }
}