/*this info is the same in the header and around the contact form*/
.background {
    background-image: url("documentation/images/largerBackground2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(171, 170, 171, .50);
}

/*this is the business card area*/

.header {
}

.name {
    font-weight: bolder;
    font-size: 4em;
}
 body {
    font-family: "PT Sans", sans-serif;
}

/*makes links black before hovering over them*/
a {
    color: black;
}

a:hover {
    color: #311e6f;
}

/*this is the about me background*/
.aboutMe {
    background-color: rgba(51, 110, 140, .6);
}



body {
    background-color: rgba(171, 170, 171, .50);
}

.happyday {
    text-align: center;
}


/*media queries*/
@media only screen and (max-width: 575px){
    .name {
        font-size: 3em;

    }
}

@media only screen and (max-width: 355px){
    .name {
        font-size: 2em;

    }
}

@media only screen and (max-width: 355px){
    .title {
        font-size: 1em;

    }
}

@media only screen and (max-width: 355px){
    .resume {
        font-size: .75em;

    }
}

@media only screen and (max-width: 575px){
    .happyday {
    display: block;
        margin-left: auto;
        margin-right: auto;
}
}


